.DS_Store
build/
*.hmap
*.d
*.dia
*.o
*.a

.vs/
bin/
obj/
Debug/
Release/
ARM/
x86/
x64/
ipch/
*.ipch

*.exe
*.exe.config
*.pdb
*.cache

*.VC.db
*.VC.opendb
*.tss
*.dll
*.exp
*.ilk
*.lib
*.tlog
*.lastbuildstate

*.so
*.so.recipe
*.o
*.gch
*.log
